<!-- <!DOCTYPE html>
<html>
<head>
    <title>Convert PNG to JPEG</title>
</head>
<body>
        <h1>Upload PNG to Convert to JPEG</h1>
        <form method="post" action="{% url 'png_to_jpg' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" id="png_file" name="png_file">
            <br><br>
            <input type="submit" value="Convert to JPEG">
        </form>
   
</body>
</html> -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Upload PNG Image</title>
  </head>
  <body>
    <h1>Upload a PNG image to convert to JPEG</h1>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="file" name="png_file"><br>
      <input type="submit" value="Convert to JPEG">
    </form>

    {% if image_data %}
      <h2>Converted JPEG image</h2>
      <img src="data:image/jpeg;base64,{{ image_data }}" />
      <a href="data:image/jpeg;base64,{{ image_data }}" download="converted_image.jpg">
      <button>Download</button>
    </a>
    {% endif %}
  </body>
</html>
